/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reset body/html */
html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

body {
  background-color: #1e2348;  /* make sure no white background shows */
}
